h4, h5, h6, p, li, ul, ol, i, em, strong, th, td {
  color: var(--primary-text);
}

h4 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;

  margin-bottom: 12px;

  @media (max-width: 900px) {
    font-size: 26px;
    line-height: 38px;
  }

  @media (max-width: 700px) {
    font-size: 24px;
    line-height: 36px;
  }
}

h4:not(:first-child) {
  margin-top: 64px;

  @media (max-width: 700px) {
    margin-top: 48px;
  }
}

h5 {
  font-size: 26px;
  line-height: 38px;
  font-weight: 600;

  @media (max-width: 900px) {
    font-size: 24px;
    line-height: 36px;
  }

  @media (max-width: 700px) {
    font-size: 20px;
    line-height: 30px;
  }
}

h5:not(:first-child) {
  margin-top: 36px;
}

h6 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;

  @media (max-width: 900px) {
    font-size: 20px;
    line-height: 30px;
  }
}

h6:not(:first-child) {
  margin-top: 32px;
}

p {
  font-size: 20px;
  line-height: 32px;

  margin-top: 12px;
  margin-bottom: 12px;

  @media (max-width: 900px) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: 700px) {
    font-size: 16px;
    line-height: 24px;
  }
}

li {
  font-size: 20px;
  line-height: 32px;

  &::marker {
    color: #666666;
  }

  &:has(input[type='checkbox']) {
    color: #ff0033;
  }

  &:has(input[type='checkbox'][checked]) {
    color: #009900;
  }

  @media (max-width: 900px) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: 700px) {
    font-size: 16px;
    line-height: 24px;
  }
}

ul, ol {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-left: 36px;

  @media (max-width: 900px) {
    margin-left: 28px;
  }
}

ul {
  list-style-type: disc;

  &.contains-task-list {
    list-style-type: none;
    margin-left: 0;
  }
}

ol {
  list-style-type: decimal;
}

i, em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

th, td {
  padding: 12px;
  font-size: 18px;
}

thead {
  border-bottom: 1px solid #666666;
}

thead > tr > th {
  font-weight: 600;
}

pre {
  padding: 8px;
  border-radius: 8px;
  counter-reset: line;
}

pre code span.line {
  font-size: 14px;
  line-height: 24px;
}

pre code span.line:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
}

input[type='checkbox'] {
  display: none;
}

blockquote {
  border-radius: 8px;
  border: 1px solid var(--summer-theme-red);
  padding: 8px 16px;

  & > p > a {
    color: var(--summer-theme-red);
    border-bottom: 0.5px solid var(--summer-theme-red);
    box-sizing: content-box;
    padding: 1px;
    transition: 400ms ease;

    &:hover {
      color: var(--summer-theme-orange);
      border-bottom: 0.5px solid var(--summer-theme-orange);
      transition: none;
    }
  }
}
