---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon';
import DisciplineBlock from "../components/DisciplineBlock.astro";
---

<Layout title="Летняя сессия 2023—2024">
	<main>
		<div class="content">
			<div class="intro-text">
				<Icon name="sakura" class="main-icon"/>
				<h1>Это конспект к <span class="highlight">летней</span> сессии <nobr>2023—2024.</nobr></h1>
				<p>Материал четвертого семестра <nobr>потока <span>ИВБО</span></nobr> <nobr>кафедры <span>ППИ</span></nobr></p>
			</div>

			<div class="disciplines-block">
				<h2>Дисциплины</h2>

				<div class="disciplines">
					<DisciplineBlock heading="Анализ и концептуальное моделирование систем" link="/mirea-exams/system-analysis/theory" icon="divider" />
					<DisciplineBlock heading="Английский язык" link="/mirea-exams/english/theory" icon="passport" />
					<DisciplineBlock heading="Программирование на языке Питон" link="/mirea-exams/python/theory" icon="mac" />
					<DisciplineBlock heading="Проектирование баз данных" link="/mirea-exams/databases/theory" icon="cloud" />
					<DisciplineBlock heading="Системное программное обеспечение" link="/mirea-exams/system-software/theory" icon="console" />
					<DisciplineBlock heading="Социальная психология и педагогика" link="/mirea-exams/psychology/theory" icon="psychology" />
					<DisciplineBlock heading="Схемотехника устройств компьютерных систем" link="/mirea-exams/circuit-engineering/theory" icon="processor" />
					<DisciplineBlock heading="Теория вероятностей и математическая статистика" link="/mirea-exams/probabilities/theory" icon="cards" />
					<DisciplineBlock heading="Технологии передачи данных" link="/mirea-exams/data-transfer/theory" icon="router" />
				</div>
			</div>

			<div class="disciplines-block">
				<h2>Материалы прошлой сессии</h2>

				<div class="disciplines">
					<DisciplineBlock heading="Архитектура вычислительных машин и систем" link="/mirea-exams/archive/avmis/theory" icon="robotic-arm" />
					<DisciplineBlock heading="Вычислительная математика" link="/mirea-exams/archive/comp-maths/theory" icon="abacus" />
					<DisciplineBlock heading="Английский язык" link="/mirea-exams/archive/english/theory" icon="tickets" />
					<DisciplineBlock heading="Информационно-технологическая инфраструктура" link="/mirea-exams/archive/infrastructure/theory" icon="flipchart" />
					<DisciplineBlock heading="Математический анализ" link="/mirea-exams/archive/calculus/theory" icon="chart-up" />
					<DisciplineBlock heading="Предметно-ориентированные информационные системы" link="/mirea-exams/archive/pois/theory" icon="warehouse" />
					<DisciplineBlock heading="Программирование на языке Джава" link="/mirea-exams/archive/java/theory" icon="programming" />
					<DisciplineBlock heading="Физическая культура и спорт" link="/mirea-exams/archive/sports/theory" icon="weightlifter" />
					<DisciplineBlock heading="Философия" link="/mirea-exams/archive/philosophy/theory" icon="lincoln" />
					<DisciplineBlock heading="Экономическая культура" link="/mirea-exams/archive/economics/theory" icon="wallet" />
					<DisciplineBlock heading="Электротехника" link="/mirea-exams/archive/electro/theory" icon="lightning-rod" />
				</div>
			</div>
		</div>

		<div class="about">
			<h2>Как пользоваться конспектом</h2>
			<p class="about-text">
				Каждая страница теории состоит из вопросов к аттестации и ответов на них.
				Вопросы и учебный материал взяты из <span>СДО</span> и открытых источников.<br/>
				Материал обновляется ежедневно.
			</p>

			<p class="about-text desk">
				Чтобы найти нужный вопрос, используйте встроенный поиск браузера:
				<nobr><kbd>Ctrl + F</kbd> на Виндоусе</nobr>, <nobr><kbd>⌘ + F</kbd> на Маке.</nobr>
			</p>

			<p class="about-text mob">
				Чтобы найти нужный вопрос, используйте встроенный поиск браузера.
			</p>

			<Icon name="love" class="work-icon" />
		</div>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;

		background: var(--background-main);
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 96px;

		min-height: 100dvh;
		padding: 64px 96px;

		@media (max-width: 1260px) {
			padding: 48px 64px;
		}

		@media (max-width: 900px) {
			gap: 48px;
			padding: 24px 32px;
		}

		@media (max-width: 700px) {
			padding: 12px 16px;
		}
	}

	.about {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 24px;

		padding: 64px 96px;

		@media (max-width: 1260px) {
			padding: 48px 64px;
		}

		@media (max-width: 900px) {
			padding: 24px 32px;
		}

		@media (max-width: 700px) {
			padding: 12px 16px;
		}
	}

	.about-text {
		line-height: 160%;
		max-width: 1000px;

		&.desk {
			display: block;

			@media (max-width: 700px) {
				display: none;
			}
		}

		&.mob {
			display: none;

			@media (max-width: 700px) {
				display: block;
			}
		}
	}

	.highlight {
		background: var(--summer-theme-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		color: var(--summer-theme-red);
	}

	kbd {
		padding: 2px;
		border: 1px solid var(--attenuated);
		border-radius: 8px;
	}

	.intro-text {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 16px;

		@media (max-width: 700px) {
			align-items: center;
		}
	}

	.disciplines-block {
		display: flex;
		flex-direction: column;
		gap: 32px;

		@media (max-width: 900px) {
			gap: 24px;
		}
	}

	.disciplines {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: auto;
		gap: 24px;

		@media (max-width: 1260px) {
			gap: 18px;
		}

		@media (max-width: 1080px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 600px) {
			grid-template-columns: 1fr;
			gap: 14px;
		}
	}

	h1 {
		font-size: 48px;
		font-weight: 600;

		color: var(--primary-text);

		@media (max-width: 1260px) {
			font-size: 40px;
		}

		@media (max-width: 900px) {
			font-size: 32px;
		}

		@media (max-width: 700px) {
			font-size: 28px;
			text-align: center;
		}
	}

	h2 {
		font-size: 36px;
		font-weight: 600;

		color: var(--primary-text);

		@media (max-width: 1260px) {
			font-size: 32px;
		}

		@media (max-width: 900px) {
			font-size: 24px;
		}

		@media (max-width: 700px) {
			font-size: 22px;
		}
	}

	p {
		font-size: 24px;
		color: var(--attenuated);

		span {
			font-variant: small-caps;
		}

		@media (max-width: 1260px) {
			font-size: 20px;
		}

		@media (max-width: 700px) {
			font-size: 18px;
			text-align: center;
		}
	}

	.main-icon {
		position: absolute;
		left: -54px;
		top: 6px;
		width: 40px;
		height: 40px;
		fill: url(#linear-gradient);
		flex-shrink: 0;

		@media (max-width: 1260px) {
			left: -42px;
			top: 4px;
			width: 32px;
			height: 32px;
		}

		@media (max-width: 900px) {
			left: -26px;
			top: 6px;
			width: 20px;
			height: 20px;
		}

		@media (max-width: 700px) {
			display: none;
		}
	}

	.work-icon {
		position: absolute;
		width: 15vw;
		height: auto;
		right: 70px;
		bottom: 48px;
		fill: url(#linear-grad);

		@media (max-width: 1260px) {
			display: none;
		}
	}
</style>
