---
import { Icon } from 'astro-icon';

interface Props {
  heading: string;
  icon: string;
  link: string;
}

const { heading, icon, link } = Astro.props;
---

<a href={link}>
  <div class="root">
    <h3>{heading}</h3>

    <Icon name={icon} class="icon" />
  </div>
</a>

<style>
  .root {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 110px;
    padding: 16px;

    border: 1px solid black;
    border-radius: 12px;
    transition: 500ms;

    &:hover {
      border: 1px solid #00c8ff;
      color: #0096ff;
      background: #00c8ff0a;
      transition: none;

      .icon {
        fill: #ff8100;
        transition: none;
      }
    }

    @media (max-width: 700px) {
      padding: 12px;
      min-height: 90px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 38px;

    @media (max-width: 1410px) {
      font-size: 20px;
      line-height: 34px;
    }

    @media (max-width: 700px) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .icon {
    position: absolute;
    bottom: 0;
    right: 8px;
    width: 64px;
    height: auto;
    z-index: 2;
    mix-blend-mode: difference;
    flex-shrink: 0;
    fill: black;

    transition: 500ms;

    @media (max-width: 1260px) {
      width: 52px;
    }
  }
</style>
